*.pyc
.idea
logs
app/static/uploads/photos
management_application/static/uploads/photos
!management_application/static/uploads/photos/adlsc-shop-pic-default@2x.png
cron/nohup.out
config/development.py


# Created by https://www.gitignore.io/api/visualstudiocode

### VisualStudioCode ###
.vscode/*
.history

node_modules
npm-debug.log
.DS_Store
helper/test*.py
run_management.py
*.csv
venv
management_application/templates/merchant_portal/package-lock.json